@charset "UTF-8";
/* CSS Document */

/* Floods background with black and keeps if at 480px, which cuts off any black below if img*/
.if{
	background-color: black;
	height: 480px;
}

.if img{
	width: 350px;
	padding-top: 30px;
	float: left;
	
}

.if p{
	font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	color: white;
	padding-top: 270px;
	width:590px;
	line-height: 1.5em;
}


/* Margin-bottom adjusts the position of the hr line*/
h1{
	color:#F4610D;
	margin-bottom: -15px;
	font: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	font-stretch:extra-condensed;
}

h2{
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	font-weight: lighter;
	color:#B1B1B1;
}

/*Maintains size of logo and where it is positioned*/
.title img{
	width: 150px;
	float: right;
	margin-top: -15px;
}

.text{ 
	width: 300px;
	font-size: 15px;
}

/*Reduces space between bullet header and bullet points*/
h4{
	margin-bottom: -.75em;
}